<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newest</title>
</head>
<body>

{% for question in questions %}
    <div id="{{question.id}}" name="{{question.title}}" style="border: 1px solid black;">
    <h3>{{ question.title }}</h3>
    <p><a href="http://127.0.0.1:8000/question/{{question.id}}">question link</a></p>
    </div>
{% endfor %}
<div name="paginator_pages"> </div>
{% for i in paginator.page_range %}
    <a href="{{paginator.baseurl}}{{i}}">{{i}}/</a>
{% endfor %}
</body>
</html>