body {
    background-color: lightgray;
    color: navy;
    margin: 10px 200px 10px 200px;
}

title {
    background-color: lightskyblue;
    color: red;
}

h1, h3, p {
    margin-left: 10px;
}

.container {
    background: lightcyan;
    border: 3px solid lightgray;
}
