{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% for publication in publications %}
    <div id="{{publication.id}}" name="{{publication.title}}"
         style="margin-top: 5px; margin-bottom: 5px;">
        <h3><a href="{% url 'publication' publication.id %}">{{ publication.title }}</a></h3>
    </div>
    {% endfor %}
</div>
<div>
    {% for i in paginator.page_range %}
    <p>
        <a href="{{paginator.baseurl}}{{i}}">{{i}}/</a>
    </p>
    {% endfor %}
</div>
{% endblock %}
