<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
</head>
<body>
<div style="border: 2px solid black; margin: 25px 50px 75px 100px;">
    <h4>{{ publication_object.title }}</h4>
    <p>Author: {{ publication_object.author }}</p>
    <p>{{ publication_object.text }}</p>
</div>
<p></p>
{% for comment in comments %}
    {% include 'comment.html' %}
{% endfor %}
<form class="form-vertical" method="post" action="{% url 'publication' publication_object.id %}">
    {% csrf_token %}
    <fieldset>
        <input name="publication" type="hidden" value={{ comment_form.publication }}/>
        <label>
            <input name="text"/>
        </label>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Comment</button>
    </div>
</form>
<p><a href="/">The newest publications</a></p>
</body>
</html>