<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular</title>
</head>
<body>
<div> <a href="/publish">Create post</a> </div>
{% for publication in publications %}
    <div id="{{publication.id}}" style="border: 1px solid black;">
    <h3>{{ publication.title }}</h3>
    <p><a href="{% url 'publication' publication.id %}">publication link</a></p>
    </div>
{% endfor %}
<div name="paginator_pages"> </div>
{% for i in paginator.page_range %}
    <a href="{{paginator.baseurl}}{{i}}">{{i}}/</a>
{% endfor %}
</body>
